server {
    listen      8080;
    host        127.0.0.1;
    server_name localhost;
    root        ./default_root;
    index       index.html;
    autoindex   on;
    allow_methods GET POST;
    client_max_body_size 3145728;

    location /my-loc/
    {
        index index.html upa.php;

        location *.php {
            cgi_pass /usr/bin/php-cgi;
        }
    }

    location /upload/
    {
        location /cgi-php/
        {
            upload_location yes;
            upload_script uploads.php;
            
            location *.php {
                cgi_pass /usr/bin/php-cgi;
            }     
        }

        location /cgi-python/
        {
            upload_location yes;
            upload_script uploads.py;
           
            location *.py {
                cgi_pass /usr/bin/python3;
            }
        }
        
        return /my-loc/;
    }
}
